<!DOCTYPE html>
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Avalon - About 2</title>

<!--=================================
Meta tags
=================================-->

<meta name="description" content="">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />
<!--=================================
Page Head
=================================-->
<!--=================================
Page Content
=================================-->
<div class="about-us">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <figure><img src="./assets/Lola.png" alt=""/></figure>
            </div><!--col-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h2>About Wag and Bone</h2>
                <p>Best Friends Animal Society is on the ground in New York City, helping to save the lives of homeless pets, supporting other organizations in their efforts to make New York no-kill permanently and raising awareness about the nearly 5,500 dogs and cats killed every day in U.S. shelters. The Best Friends Pet Adoption Center in New York City serves as both a space for local pets to find homes, and an outlet for the national no-kill message, helping to spread the word about Best Friends’ efforts to lead the country to no-kill by 2025.</p>
                <p>The space also features interactive displays and maps to inspire and engage people from all around the country to work for no-kill in their own communities, and to help Save Them All.</p>
            </div>
            
        </div><!--row-->
       
      <div class="row spacer-40">
            <div class="col-md-6 col-xs-12">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#one" data-toggle="tab">Our Goals</a></li>
                <li><a href="#two" data-toggle="tab">Our Mission</a></li>
                <li><a href="#three" data-toggle="tab">Our Vision</a></li>
              </ul>
              
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="one">
                  <p>At the heart of Best Friends is the Sanctuary, where, at any given time, about 1,700 animals are turning their lives around, receiving the medical help they need, and getting love and acceptance to help them overcome their past. While searching for their forever homes, they live in a scenic, healing environment among human and animal friends. </p>
                    
          <p>Best Friends owns nearly 3,700 acres, and we lease another 17,000 acres of state and federal land. Nearly 30,000 people visit every year to meet the animals and tour what has become the nation's largest no-kill sanctuary for companion animals. Learn more about the Sanctuary.</p>
                    
                </div>
                <div class="tab-pane fade" id="two">
                  <p>Puppy mill initiatives: Best Friends is working hard to combat puppy mills, one of the major contributors to animal homelessness, through public awareness campaigns, legislative work, and encouragement of adopting rather than purchasing pets.</p>
                    
          <p>Cat initiatives: Cats comprise the majority of animals dying in shelters - up to 70 percent in some places. Most of these are community cats (stray and free-roaming). Best Friends is working to save lives by implementing innovative trap/neuter/return programs across the country. Some of the most successful to date have been in Los Angeles, California; Salt Lake City, Utah; Jacksonville, Florida: San Antonio, Texas: and Albuquerque, New Mexico. These programs have helped reduce cat shelter deaths by as much as 65%.</p>
                    
                </div>
                <div class="tab-pane fade" id="three">
                <p>Pit bull initiatives: Like cats, pit bull terriers comprise a disproportionately high number of animals dying in shelters. At Best Friends, we fight breed-discriminatory laws, and work hard to change the image of the pit bull terrier nationwide through Neighborhood Pit Bull Days, advertisements, and more to give these dogs the chance to make it out of shelters and into the arms of loving families. </p>
                    
          <p>From humble beginnings, Best Friends Animal Society has grown into a national leader in the no-kill movement. But the future lies in the same place that it all began - with caring individuals who want to make this a kinder nation for our pets. It's people like you who started it all, and people like you who will help us to Save Them All!</p>
                    
                </div>
                
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <h2>What's What</h2>
                
                
                <div class="progress-wrapper animatedParent">
                  <h6>Dogs that need adopting</h6>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info animated bounceInLeft slower" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>
                </div><!--progress wrapper-->
                
                 <div class="progress-wrapper animatedParent">
                  <h6>Amount of Dogs bred every year</h6>
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning animated bounceInLeft slower" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        <span class="sr-only">90% Complete</span>
                      </div>
                    </div>
                </div><!--progress wrapper-->
                
                 <div class="progress-wrapper animatedParent">
                  <h6>Amount of Pitbulls Abandoned</h6>
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger animated bounceInLeft slower" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                        <span class="sr-only">85% Complete</span>
                      </div>
                    </div>
                </div><!--progress wrapper-->
                
                 <div class="progress-wrapper animatedParent">
                  <h6>Amount of dogs abandoned before 1 year</h6>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success animated bounceInLeft slower" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                        <span class="sr-only">70% Complete</span>
                      </div>
                    </div>
                </div><!--progress wrapper-->
                
           </div><!--col-->
       </div>
    </div>
</div>
        
<!--=================================
Script Source
=================================--> 
<script src="assets/js/jquery-1.10.1.min.js"></script>
<script src="assets/js/raphael-min.js"></script>
<script src="assets/js/liveicon.js"></script>
<script src="assets/js/jpreloader.min.js"></script> 
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/jquery.waitforimages.js"></script> 
<script src="assets/js/jquery.carouFredSel-6.2.1-packed.js"></script> 
<script src="assets/js/jquery.flexslider-min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script> 
<script src="assets/js/jquery.prettyPhoto.js"></script> 
<script src="assets/js/jflickrfeed.min.js"></script> 
<script src="assets/js/isotope.js"></script> 
<script src="assets/js/jquery.stellar.min.js"></script> 
<script src="assets/js/css3-animate-it.js"></script> 
<script src="assets/js/jquery.dlmenu.js"></script>
<script src="assets/js/jquery.sticky.js"></script>
<script src="assets/js/tweetie.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script src="assets/js/main.js"></script>   
<script>
$('body').jpreLoader({
    splashID: "#jSplash",
    loaderVPos: '0%',
    autoClose: true,
});
/*=========Place Google Tracker Code here===========*/
</script> 

</body>
</html>
